---
layout: examples/navbar-bottom
title: Bottom navbar example for Bootstrap
---
        <h1>Bottom Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the bottom navbar works.</p>
        <a class="btn btn-lg btn-primary" href="https://getbootstrap.com/docs/4.1/components/navbar/" role="button">View navbar docs &raquo;</a>

