---
layout: examples/navbar-static
title: Top navbar example for Bootstrap
---
        <h1>Navbar example</h1>
        <p class="lead">This example is a quick exercise to illustrate how the top-aligned navbar works. As you scroll, this navbar remains in its original position and moves with the rest of the page.</p>
        <a class="btn btn-lg btn-primary" href="https://getbootstrap.com/docs/4.1/components/navbar/" role="button">View navbar docs &raquo;</a>

