<head>    
    {% comment %}<!-- Required meta tags -->{% endcomment %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  
    {% comment %}Let's Fake the Generator{% endcomment %}
    <meta name="generator" content="Karimata 1.2.3 Media Engine" />

    {% comment %}<!-- Bootstrap CSS -->{% endcomment %}
    <link rel="stylesheet" href="{{ "/assets/dist/css/bootstrap.css" | prepend: site.baseurl }}">
    
    {% comment %}<!-- Custom CSS -->{% endcomment %}
    {% if layout.customcss %}
    <link rel="stylesheet" href="{{ site.url }}/{{ layout.customcss}}">
    {% endif %}
    {% if page.customcss %}
    <link rel="stylesheet" href="{{ site.url }}/{{ page.customcss}}">
    {% endif %}
    
    {% if layout.opengraph.image %}
    <meta property="og:image" content="{{ site.url }}/{{ layout.opengraph.image }}">
    {% endif %}

    {% comment %}<!-- Stuff -->{% endcomment %}        
    <link href="{{ site.url }}/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
</head>





    
