<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ site.url }}/favicon.ico" >

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ site.url }}/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% if layout.customcss %}
    <link rel="stylesheet" href="{{ site.url }}/{{ layout.customcss}}">
    {% endif %}
    {% if page.customcss %}
    <link rel="stylesheet" href="{{ site.url }}/{{ page.customcss}}">
    {% endif %}
    
    {% if layout.opengraph.image %}
    <meta property="og:image" content="{{ site.url }}/{{ layout.opengraph.image }}">
    {% endif %}
</head>
