---
opengraph:
  image: assets/images/epsi-vexel.png
---
<!DOCTYPE html>
<html lang="en">

  {% include layout/head.html %}

<body>
    {% include layout/header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include layout/footer.html %}

</body>
</html>
